.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
}

.filter-container {
  display: flex;
  width: 50%;
  align-items: center;
  margin-bottom: 20px;
  background-color: #ffffff;
  justify-content: space-around;
  height: 100px;
  border-radius: 5px;
  margin-top: -50px;
  border-top-left-radius: 8px;
  position: absolute;
  z-index: 1;
  margin-left: 25%;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

.filter-select {
  min-width: 150px;
  margin-right: 10px;
}

button.buy-ticket-button {
  background-color: #d32f2e;
  color: white;
  transition: background-color 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: 50px;
}

button.buy-ticket-button:hover {
  background-color: #d32f2e;
}

.buy-ticket-title {
  font-size: 20px;
  font-weight: 200;
  color: #ffffff;
}

.movies-container {
  margin-top: 50px;
}

.movie-card {
  margin: 10px;
  transition: transform 0.1s, box-shadow 0.3s;
  cursor: pointer;
  height: 450px;
  box-shadow: none !important;
}

.movie-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.movie-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 300px;
  border-radius: 5px;
}

.movie-title {
  font-weight: bold;
  color: #000000;
  text-overflow: ellipsis;
}

.movie-description {
  color: #9d9d9d;
  min-height: 40px;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-controls button {
  margin: 0 5px;
}

.pagination-controls .MuiTypography-root {
  margin: 0 15px;
}

/* cụm rap */

.cumRap {
  background: url("/src/assets/img/back-news.b9861f84.png");
  margin-top: 30px;
  padding-top: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  border-radius: 10px;
}

.cinema-card {
  background-color: #fafafa;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  align-items: center;
  transition: box-shadow 0.3s;
}

.cinema-card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
}

.cinema-card img {
  width: 50px;
  margin-right: 8px;
}
.cinema-name {
  color: green;
}

.cinema-address {
  color: #adafaf;
}

.showtime-info {
  padding: 15px;
  max-height: 400px;
  overflow-y: auto;
  max-width: 415px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}

.movie_item_cinema {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.movie_item_cinema:hover {
  background-color: #f0f0f0;
}

.movie_image_cinema {
  width: 80px;
}

.movie_title_cinema {
  margin-top: 5px;
  font-weight: bold;
  color: #333;
}

button.showtime_cinema {
  color: #f1efef;
  font-size: 12px;
  margin-top: 2px;
  padding: 10px;
  align-self: flex-start;
  background: #f8f8f8;
}

.movie_details {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.showtime-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.showtime-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.showtime-column:last-child {
  margin-right: 0;
}

.showtime_cinema {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #f8f8f8;
  transition: background-color 0.3s;
}

.showtime_cinema:hover {
  background-color: #e0e0e0;
}
